body,
html {
    height: 100%;
    margin: 0;
    min-height: 100%;
    font-family: Roboto, "system-ui", sans-serif;
}

* {
    font-family: Roboto, "system-ui", sans-serif;
    box-sizing: border-box;
}

.header_info {
    margin: 0%;
    text-align: right;
    justify-content: flex-end;
    font-family: Roboto, "system-ui", sans-serif;
    display: flex;
    background-color: #e42529;
    list-style: none;
    /* padding: 4px, 16px; */
    padding: 0px 8px;
}

.fa {
    text-rendering: auto;
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 5px;
    font-size: 14px;
    transition: .5s;
    text-rendering: auto;
}

.header_info a {
    float: right;
    text-align: right;
    float: right;
    color: #fff;
    text-decoration: none;
    padding: 2px;
}

.header_text {
    border-right: 1px solid #dadada;
    font-size: 14px;
    font-weight: 600;

    padding: 0 8px;

}

.header_text_1 {
    border-right: 1px solid #dadada;
    font-size: 14px;
    font-weight: 600;
    padding-right: 10px;
    margin-right: 10px;
    border-right: none;
    padding: 0 8px;

}

#shop_digital_image {
    background-color: #e42529;
    max-width: 100%;
    max-height: none;
    display: block;
    width: 150px;
    height: 50px;
}

.logo_image {
    width: 150px;
    height: 50px;
    overflow: visible;
    position: relative;
    flex-basis: auto;
    padding-top: 0px;
    margin-left: 50px;
    display: block;
}

.logo_image img {
    max-width: 100%;
    height: 100%;
    will-change: transform;
}

.logolinkline {

    background-color: rgba(0, 0, 0, 0);
    color: #003380;
    cursor: pointer;
    text-decoration: none;
}

.header {
    background-color: #e42529;
    padding-bottom: 10px;
    min-width: 1024px;

}

.headerchild {
    display: flex;
}

.searchpanel {
    height: 34px;
    margin: auto;
    min-width: 200px;
    width: 38%;
}

.searchbox {
    display: flex;
    border-bottom: 1px solid #ccc;
    border-radius: 2em;
    position: relative;
    width: 100%;
    background-color: white;

}

.formbar {
    flex-wrap: wrap;
    position: relative;
    width: 100%;

}

.searchbutton {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-left: 0;
    position: absolute;
    right: 10px;
    top: 7px;
    color: rgb(187, 187, 187);
}

#search_bar {
    border: 0;
    border-radius: 2px 0 0 2px;
    border-radius: 2em;
    font-size: 14px;
    height: 36px;
    outline: 0 none;
    padding-left: 20px;
    width: 100%;
}

.header_info_list {
    display: flex;
    box-align: center;
    text-align: center;
    align-items: center;
    margin: auto 0;
    font-family: Roboto, "system-ui", sans-serif;
    min-width: 150px;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.header_info_list_item {
    border-left: 1px solid #dadada;
    font-size: 14px;
    font-weight: 600;
    padding: 0 8px;
    position: relative;
    border-left: none;

}

.forcart {
    text-decoration: none;
    color: #fff;
    border-left: 1px solid #dadada;
    font-size: 14px;
    font-weight: 600;
    padding: 0 8px;
    position: relative;
    color: inherit;
}

.header_info_list_item_login {
    align-items: flex-end;
    justify-content: space-between;
    border-left: 1px solid #dadada;
    padding: 0 8px;
    margin-right: 15px;
    font-weight: 600;
    font-size: 14px;
}

.nav_main {
    display: block;
}

.nav_no_print {
    background: #003380;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0 2%;
    text-decoration: none;
    box-pack: center;
    box-align: center;
    font-family: Roboto, "system-ui", sans-serif;
    list-style: none;
}

.nav_container {
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 16px;
    /* white-space: nowrap; */
}

.nav_title {
    text-transform: uppercase;
}

.nav_description {

    background: #fff;
    background-color: #fff;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #fff;
    /* display: none; */
    left: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 0 2%;

    width: 96%;

}

#hovers {
    position: absolute;
    list-style: none;
}

.flex {
    display: flex;
    display: none;
    position: absolute;
    background-color: #003380;
    color: white;
    top: 150px;
    left: 26px;
    justify-content: space-between;
    width: 100%;

}

.flex-1 {
    display: block;
    justify-content: space-between;
    position: relative;
}

.nav_description_items {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 16px;
    position: absolute;
}

.nav_description_subitems {
    font-size: 14px;
    font-weight: 100;
    padding: 0 16px 10px;
}

.div1,
.div2,
.div3,
.div4 {
    display: block;
}

body #root {
    height: 100%;
    min-height: 100%;
}

.nav_no_print .fa {
    text-rendering: auto;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    font-size: 18px;
    transition: .5s;
    margin-left: 4px;
}

li {
    display: list-item;

}

ul {
    margin: 0;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}

ul {
    margin-bottom: -10px;
    padding: 0%;
    list-style: none;


}

.nav_title:hover {
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.nav_container:hover {
    background: #e42529;
    z-index: 1;
}




.topslide {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.topslide {

    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition: 500ms ease 0s;
}

.sectiondiv {
    display: block;
}

#topslide {
    margin-top: 0;
}

.imagecenter {
    width: 1320px;
    vertical-align: baseline;
    max-width: 100%;
    max-height: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;

}

.imageslider {
    margin-top: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;

}

.swiper-slide img {
    width: 100%;
    height: fit-content;
}

.swiper-slide img:hover {
    cursor: pointer;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    position: absolute;
    color: #4d4c4d;
    top: 50%;

}

.section-3pricedrop {
    position: relative;
    padding: 30px;
    width: 100%;
}

.mss_title {

    color: #333;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    line-height: .7em;
    margin-bottom: 20px;
    padding: 0 10px 2px 0;
    text-transform: uppercase;
}

.autoadjust {
    width: 80%;
    margin: auto;
}

.imagecenter {

    max-width: 100%;
    max-height: none;
    display: block;
    width: auto;
    height: auto;
}

.autoadjust img {
    width: 300px;
    height: auto;

}


.blk {
    width: 80%;

}

.move_left {
    display: flex;
    width: 80%;
    justify-content: space-between;


}

.multicarousels {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.image-lode {
    width: 180px;
    height: 180px;
    overflow: visible;
    position: relative;
    flex-basis: auto;
    padding-top: 0px;
    margin: auto;
    display: block;
    background: transparent;
}

#prodslideimages {
    display: flex;
    justify-content: space-between;
    margin-left: 500px;
    width: 80%;
    height: 50vh;
    margin: auto;
    column-gap: 50px;
    padding-bottom: 20px;

    /* #666666 */
}

#prodslideimages div {
    margin-bottom: 20px;

}

#prodslideimages h4:hover {
    color: red;
    transform: scale(1.1);
}

#prodslideimages img {
    width: 200px;

}

#prodslideimages>div>img:hover {
    transform: scale(1.2);
}

#prodslideimages h4 {
    color: #003380;
    font-size: 15px;
    height: 2.6em;
    line-height: 1.4em;
    margin-right: 20px;
    overflow: hidden;
    font-weight: 400;
}

#prodslideimages button {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    color: #41b33d;
    text-transform: uppercase;
    border-radius: 25px;
    border: 1px solid #44af40;

}

#watchsection {
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;

}


.mss_title {
    color: #333;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    line-height: .7em;
    margin-bottom: 20px;
    padding: 0 10px 2px 0;
    text-transform: uppercase;
}

.Entertainment {
    width: 95%;
    margin: auto;
    box-sizing: border-box;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.homebanner {
    margin-top: 2%;
    padding-left: 2%;
}

.home_4banner {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;

}

.home_4banner .move_left img {
    width: 300px;
}

.lazyland {
    flex-basis: auto;
    width: 100%;
    position: relative;
    flex-basis: auto;
    padding-top: calc(75%);
    margin: auto;
    display: block;
    background: transparent;
}

.lazyland .imgCenter {

    max-width: 100%;

    display: block;
    width: 100%;
    height: auto;
}

.lazyland .autoAdjust {
    width: 100%;
    opacity: 0;
    margin: 0px auto;
}

.home_4banner .move_left {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    width: 100%;
    margin: auto;
}

.mss-mb_32 {

    padding: 32px 2% 0;
}

.mss-mb_32 .mss_title {

    color: #333;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    line-height: .7em;
    margin-bottom: 20px;
    padding: 0 10px 2px 0;
    text-transform: uppercase;
}

.swiper1 {
    width: 100%;

    display: flex;
    justify-content: space-between;
    padding: 50px;


}

.swiper-slide1 img {
    width: 100%;
    /* height: fit-content; */

}


.swiper-slide1 {
    display: flex;
    margin: auto;
    justify-content: space-between;
    column-gap: 20px;
    padding: 0px;
}

.multi-slider {
    display: flex;
    margin: auto;
    justify-content: space-between;
    /* text-overflow: hidden; */
    padding: 0px;

}

.slick-arrowleft,
.slick-arrowright {
    margin-top: 200px;
    height: 15vh;
    position: relative;
    width: 70px;
    background-color: white;
    border: 1px solid white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.swiper-slide1 div {
    padding: 0px;
    display: block;
    margin: auto;
    box-sizing: border-box;

}

.swiper-slide1 div img {
    width: 200px;
    height: 30vh;

}

.swiper-slide1 div img:hover {
    transform: scale(1.1);

}

.blk {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

.swiper-slide1 h4 {
    font-weight: 400;
    color: #003380;
    text-overflow: hidden;
}

.swiper-slide1 h4:hover {
    color: red;
}

.swiper-slide1 p {

    padding: 0px;
    margin: 0px;
    color: rgb(106, 106, 106);
}

.swiper-slide1 p>b {

    color: black;
}

.offp {
    padding: 0px;
    margin-top: 20px;
    width: 60%;
    justify-content: center;
    font-weight: 100px;
    font-size: small;
    text-align: center;
    color: #41b33d;
    text-transform: uppercase;
    border-radius: 25px;
    border: 1px solid #44af40;
    cursor: pointer;
}

.biggestpice {
    border-bottom: 1px solid #ccc;
}

.greatdeals {

    background-color: rgb(255, 255, 255);
    padding-left: 2%;
    margin-top: 1400px;
    display: block;

}

.greatdeals-1 {
    background-color: rgb(255, 255, 255);
    display: block;
    padding-left: 2%;

}

.imageslider-1 {
    border-top: 1px solid #ccc;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}

.promise div {
    width: 95%;
    margin: auto;
}

.promise_title {
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.promise_title_heading {
    color: #003380;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.promise_details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    width: 95%;
    margin: auto;
}

.promise_details_block .block-item {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 6px;
    text-transform: uppercase;
}

.promise_details_block .block-item_link {
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    padding: 8px;
    text-align: center;
    width: 100%;

}

.promise_details_block .block-item_link .image-container {
    display: block;
    float: left;
    width: 100%;
}

.block-item_link .lazy-load {
    width: auto;
    height: 40px;
    overflow: visible;
    position: relative;
    flex-basis: auto;
    padding-top: 0px;
    margin: 0px;
    display: block;
    background: transparent;
}

.lazy-load_1 {
    max-width: 100%;
    max-height: none;
    display: block;
    width: auto;
    height: 40px;
}

.image-container .lazy-load img {
    margin-left: auto;
    margin-right: auto;
}

.promise_details_block .block-item_link .text-container_text {
    color: #003380;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    margin: 0;
    padding-bottom: 0;
}

.promise_details_block .block-item_link .text-container_sub-text {
    color: #666;
    font-size: 10px;
    line-height: 15px;
    margin: 0;
}

.promise_details_block .block-item_link .text-container {
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.swiper-wrapper2 {
    width: 80%;
    margin: auto;
    display: flex;

}

.rgp_txt {
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
    color: #5d5d5d;
}

.rgp {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    background-color: #f7f7f7;
    padding: 0 16px;
    text-align: center;
    margin-top: 30px;
    border-bottom: 1px solid #ccc;

}

.rgp_title {
    color: #333;
    font-size: 24px;
    font-weight: 700;
    padding: 16px 0 32px;
    text-transform: uppercase;
}

.rgp_products {
    display: flex;
    margin: auto;
    width: 80%;
}

.rgp_main {
    display: flex;
    margin: auto;
}

.s1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
}

.rgp_txt:hover {
    color: #003380;
    cursor: pointer;
}



.slick-arrowleft2,
.slick-arrowright2 {
    margin-top: 60px;
    height: 15vh;
    position: relative;
    width: 40px;
    background-color: white;
    border: 1px solid white;
    box-shadow: rgba(182, 182, 187, 0.2) 0px 7px 29px 0px;
}

.viewall {

    padding: 0 16px;
    text-align: center;
    margin: 20px;
}

.viewallbtn {
    width: auto;
    background-color: transparent;
    border-style: none;
    color: #fff;
    text-align: center;
    background-color: #003380;
    border: 1px solid #2e6da4;
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 16px;
    padding: 8px 24px 8px 24px;
    justify-content: center;
    cursor: pointer;

}

.viewallbtn:hover {
    transform: scale(1.05);
    background-color: transparent;
    color: #003380;
}

.footer1 {

    background-color: #003380;
    padding-bottom: 25px;
    padding-left: 40px;
    color: white;
    list-style: none;
    margin: auto;

}

.productcat ul {
    list-style: none;
    cursor: pointer;
}

.productcat {
    width: 95%;
    display: flex;
    margin: auto;
    justify-content: space-between;

}

.limain {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;


}

.productcat li {
    display: list-item;
    font-family: Roboto, "system-ui", sans-serif;
    font-size: 16px;
    line-height: 32px;
    cursor: pointer;
}

.productcat li:hover {
    color: #92cbfc;

}

.offp:hover {
    transform: scale(1.02);
}

.playstore {
    display: flex;
}

.footerlinks {
    list-style: none;
    padding-left: 30px;

}

.mss_view-all:hover {
    transform: scale(1.1);
}

.descviewall:hover {

    transform: scale(1.1);

}

.footerlinks ul {
    display: flex;
    list-style: none;
    margin-left: -5px;
    padding-left: 0;
    margin: auto;
}

.footermedialinks {
    display: flex;
    margin: auto;

}

.playstore {
    margin-top: -80px;
    display: block;
    margin-left: 380px;
}

.playstore img {
    width: 100;
    height: 5vh;

}

.playstoreimg {
    display: flex;
    margin: auto;
}

.footer_disclaimer {

    background-color: #0a244a;
    text-align: center;

}

.box {
    width: 1250px;
    color: white;
}

.title-ft {

    margin: auto;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    text-align: center;
    margin-left: 20px;

}

.disclaimer {

    box-sizing: border-box;
    line-height: 1.8em;
    color: rgb(29, 29, 29);
    border-bottom: 1px solid rgb(255, 255, 255);
    transition: all 0.2s ease-in;
    cursor: text;
    display: inline-block;
    font-size: 12.8px;
    font-weight: bold;
    color: white;
    font-family: OpenSans, Arial, Helvetica, sans-serif;

}

.footer_copyright {
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    padding-bottom: 30px;
}


/* #hovers{
    display: none;
    position: fixed;
    top: 100px;
    left: 8%;
} */